#navBar {
  width: 100%;
  background-color: #1b1c1d;
  box-shadow: 5px 5px 5px grey;
}

.btn-primary {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007872;
  border-color: #005955;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 156, 149, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #005955;
  border-color: #005955;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 156, 149, 0.5);
}

.btn-outline-primary {
  color: #009c95;
  background-color: transparent;
  border-color: #009c95;
}

.btn-outline-primary:hover {
  color: #009c95;
  background-color: transparent;
  border-color: #009c95;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 156, 149, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #009c95;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #009c95;
  border-color: #009c95;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 156, 149, 0.5);
}


.btn,
.logo {
  font-size: 1.5em;
  margin: 2%;
}

#colCenter .btn {
  padding-left: 5%;
  padding-right: 5%;
}

#collapseFilters {
  background-color: #1b1c1d;
  color: #fff;
  width: 100%;
}

#collapseFilters .row {
  padding-left: 5%;
  padding-right: 5%;
}

.colRow{
    padding-bottom: 1%;
    padding-top: 1%;
}

.btnnivel {
  font-size: 1em;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}


input[type=text] {
  width: 100%;
  padding: 0.3em 1em;
  margin: 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nombreStr{
  font-size: 1.5em;

}

*, *:before, *:after {
  box-sizing: border-box;
}

.range-slider {
  margin: 5% 0 0 0%;
}
.range-slider {
  width: 100%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1abc9c;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #1abc9c;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

.likeslbl{
  font-size: 2em;
  margin-top: 5%;
}

.itemMen:hover{
  cursor: pointer;
}