.lblnivelTip {
    vertical-align: top;
    font-size: 12px;
    width: 60px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.lstnivel {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    max-height: 130px;
    overflow-y: scroll;
}


.list{
    border-color: black;
}

.root {
    width: '100%';
    max-width: 360;
    border-color: black;
    border-radius: 3px;
    max-height: 550px;
    overflow-y: scroll;
}
.nested {
    padding-left: 4px;
}
.listTxt {
    font-size: xx-large;
    color: black
}
