.lblnivelTip {
    vertical-align: top;
    border-radius: 10px;
    font-size: 14px;
    width: 60px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.lstnivel {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    max-height: 130px;
    overflow-y: scroll;
}