.filaNombreTip {
    margin: 20px 0;
}
.lblNombreTip {
    margin: auto 10px;
    font-size: 28px;
    max-width: calc(100% - 80px);
}
.lblnivelTip {
    vertical-align: top;
    border-radius: 10px;
    font-size: 14px;
    width: 60px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.filaDescTip h2 {
    font-size: 24px;
}

.filaTemaTip h3 {
    font-size: 20px;
    display: inline-block;
}
.filaTemaTip button {
    float: right;
    display: inline-block;
}

.temasContainer {
    flex-wrap: wrap;
    width: calc(100% - 80px);
}

.description {
    font-size: 16px;
}

.hightlight {
    background-color: #cd6530;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 01px 5px;
}

.temaTip {
    margin: auto 5px;
    height: min-content;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
    background-color: rgba(199, 201, 202, 0.8);
    color: black;
}

.codigolblTip {
    margin-top: 20px;
}

.btn-outline-like {
    margin: auto 10px auto auto;
    height: 40px;
    color: #064789;
    background-color: transparent;
    border-color: #064789;
    font-size: 14px;
    border-width: medium;
    border-radius: 15%;
}

.btn-outline-like:hover {
    color: #fff;
    background-color: #064789;
    border-color: #064789;
}

.btn-outline-like:focus,
.btn-outline-like.focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 71, 137, 0.5);
}

.btn-outline-like.disabled,
.btn-outline-like:disabled {
    color: #064789;
    background-color: transparent;
}

.btn-outline-like:not(:disabled):not(.disabled):active,
.btn-outline-like:not(:disabled):not(.disabled).active,
.show > .btn-outline-like.dropdown-toggle {
    color: #fff;
    background-color: #064789;
    border-color: #064789;
}

.btn-outline-like:not(:disabled):not(.disabled):active:focus,
.btn-outline-like:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-like.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 71, 137, 0.5);
}

.compileBien {
    background-color: rgb(177, 241, 177);
    border: 3px solid rgb(100, 211, 100);
    border-radius: 10px;
    padding: 10px;
}

.compileMal {
    background-color: rgb(241, 177, 177);
    border: 3px solid rgb(211, 100, 100);
    border-radius: 10px;
    padding: 10px;
}

.botonEjecutar {
    margin: 10px 0 !important;
}

.botonAgregar {
    margin: 10px 0 !important;
}
