.filaNombreTip {
    margin: 20px 0;
}
.lblNombreTip {
    margin: auto 10px;
    font-size: 28px;
}
.lblnivelTip {
    vertical-align: top;
    border-radius: 10px;
    font-size: 14px;
    width: 60px;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    background-color: #064789;
    color: white;
}

.filaDescTip h2 {
    font-size: 24px;
}

.temaTip {
    margin: auto 5px;
    height: min-content;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
    background-color: rgb(146, 146, 146);
    color: white;
}

.btn-outline-like {
    margin: auto 10px auto auto;
    height: 40px;
    color: #064789;
    background-color: transparent;
    border-color: #064789;
    font-size: 14px;
    border-width: medium;
    border-radius: 15%;
}

.btn-outline-like:hover {
    color: #fff;
    background-color: #064789;
    border-color: #064789;
}

.btn-outline-like:focus,
.btn-outline-like.focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 71, 137, 0.5);
}

.btn-outline-like.disabled,
.btn-outline-like:disabled {
    color: #064789;
    background-color: transparent;
}

.btn-outline-like:not(:disabled):not(.disabled):active,
.btn-outline-like:not(:disabled):not(.disabled).active,
.show > .btn-outline-like.dropdown-toggle {
    color: #fff;
    background-color: #064789;
    border-color: #064789;
}

.btn-outline-like:not(:disabled):not(.disabled):active:focus,
.btn-outline-like:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-like.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(6, 71, 137, 0.5);
}

.filaTemaTip {
    margin-top: 2%;
    font-size: 2em;
}

.filaCodigoTip {
    margin: 2%;
}
.codigolblTip {
    margin: 10px 0;
    font-size: 1.4em;
}
.test {
    background-color: red;
}
.colComent {
    border-color: rgb(143, 148, 145, 0.8);
    border-radius: 1%;
    border-style: solid;
}
.codigo {
    display: inline-block;
    font-family: monospace, monospace;
    counter-reset: line;
    background-color: white;
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}
.codigo span {
    display: block;
    white-space: pre;
    line-height: 1.5rem;
    outline: none;
}
.codigo span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    margin-right: 0.5em;
    padding-right: 5px;
}

.compileBien {
    background-color: rgb(177, 241, 177);
    border: 3px solid rgb(100, 211, 100);
    border-radius: 10px;
    padding: 10px;
}

.compileMal {
    background-color: rgb(241, 177, 177);
    border: 3px solid rgb(211, 100, 100);
    border-radius: 10px;
    padding: 10px;
}
